<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet"
		  th:href="@{/css/kendo.common.min.css}"
		  href="../css/kendo.common.min.css"/>
		<link rel="stylesheet"
		  th:href="@{/css/kendo.bootstrap.min.css}"
		  href="../css/kendo.bootstrap.min.css"/>
		<link rel="stylesheet"
		  th:href="@{/css/kendo.dataviz.min.css}"
		  href="../css/kendo.dataviz.min.css"/>
		<link rel="stylesheet"
		  th:href="@{/css/kendo.dataviz.default.min.css}"
		  href="../css/kendo.dataviz.default.min.css"/>
		<link rel="stylesheet"
		  th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:300,400,700}"
		  href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"/>
		<link rel="stylesheet" media="screen"
		  th:href="@{/assets/css/font-awesome.min.css}"
		  href="../assets/css/font-awesome.min.css"/>
		<link rel="stylesheet"
		  th:href="@{/assets/css/bootstrap.min.css}"
		  href="../assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" media="screen"
		  th:href="@{/assets/css/bootstrap-theme.css}"
		  href="../assets/css/bootstrap-theme.css"/>
		<link rel="stylesheet" media="screen"
		  th:href="@{/assets/css/main.css}"
		  href="../assets/css/main.css"/>
	</head>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/kendo.all.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
 	<body>
	
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="Pronet" width="150 px" height="50 px"></img></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a class="btn" href="/login">Sign out</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<div  class="dashbrd" style="margin-top:5%;">
	
		<div>
			<button id="createVmButton" class="k-primary">Create VM</button>
		</div>
		
		<div id="example">
			<div id="popupVM">
				<div id="templateGrid"></div>			
			</div>
			<div id="grid"></div>
						
			<script th:inline="javascript" type="text/x-kendo-template" id="template">
		    	<div class="tabstrip">
					<ul>
						<li>
				        	Stats
				        </li>
					</ul>
		            <div class='vm-details'>
		                <ul style="list-style:none;font-style:italic;margin: 15px;padding: 0;">
		                    <li style = "margin: 0;line-height: 1.7em;">
								<label style="display:inline-block;width:90px;padding-right: 10px;text-align: right;font-style:normal;font-weight:bold;">
									Boot Time:
								</label>
								#= bootTime #
							</li>
		                    <li style = "margin: 0;line-height: 1.7em;"><label style="display:inline-block;width:90px;padding-right: 10px;text-align: right;font-style:normal;font-weight:bold;">Guest my:</label>#= guestMemoryUsage #</li>
		                    <li style = "margin: 0;line-height: 1.7em;"><label  style="display:inline-block;width:90px;padding-right: 10px;text-align: right;font-style:normal;font-weight:bold;">Host Mmy:</label>#= hostMemoryUsage #</li>
		                    <li style = "margin: 0;line-height: 1.7em;"><label  style="display:inline-block;width:90px;padding-right: 10px;text-align: right;font-style:normal;font-weight:bold;">Version:</label>#= version #</li>						
							<li style = "margin: 0;line-height: 1.7em;"> 
							   <span id="gauge-container">
	                				<span id="gauge#= name #" style="display:inline-block;">HostMMy</span>
	                				<span style="display:inline-block;" id="osgauge#= name #">CPUUsage</span>
								</span>
							   <span id="gauge-label" style= "display:block;">
	                				<span id="" style="display:inline-block;margin-left:5%;width:17%;">HostMemory</span>
	                				<span style="display:inline-block;" id="osgauge">CPUUsage</span>
								</span>
							</li>
		                </ul>
		            </div>
		        </div>
		    </script>
		    <script th:inline="javascript">
		        var vmObj ="";
		        var templates={
		        		"os":"Windows",
		        		"os":"Linux"
		        };
		        
		        

				$(document).ready(function() { 
		        	$("#createVmButton").kendoButton();
		        	$.ajax({
		                url: "/api/v1/vms",
		                success: function (response) {
		                    // Get default value from the server response
		                	vmObj=response;
		                	console.log(vmObj);
		                	createGrid(vmObj);
		                },
		                error: function () {
		                    // Stop displaying loading indicator
		                    kendo.ui.progress(editEvent.container, false);
		                    console.error("uh oh!");
		                }
		            });
//				     $.ajax({
//			                url: "/api/v1/templates",
//			                success: function (response) {
//			                    // Get default value from the server response
//			                	templates=response;
//			                	console.log(templates);
//			                	createTemplateGrid(templates);
//			                },
//			                error: function () {
//			                    // Stop displaying loading indicator
//			                    kendo.ui.progress(editEvent.container, false);
//			                    console.error("uh oh!");
//			                }
//			            });
						createTemplateGrid(templates);
						var window = $("#popupVM"),
					createVmButton = $("#createVmButton")
				                  .bind("click", function() {
				                      window.data("kendoWindow").open();
				                  });
				     if (!window.data("kendoWindow")) {
				         window.kendoWindow({
				             width: "600px",
				             title: "Create VM",
				             actions: [
				                 "Pin",
				                 "Minimize",
				                 "Maximize",
				                 "Close"
				             ],
				             visible:false
				         });
				     }
				});
		        	
		        function createGrid(vms) {
			    	console.log(vms);
		        	$("#grid").kendoGrid({
		                dataSource: {
		                    data: vms,
		                    schema: {
		                        model: {
		                            fields: {
		                                name: { type: "string" },
		                                guestOSName: { type: "string" },
		                                ip: { type: "string" },
		                                powerState: { type: "string" }
		                            }
		                        }
		                    },
		                    pageSize: 20
		                },
		                height: 550,
		                scrollable: true,
		                sortable: true,
		                filterable: true,
		                pageable: {
		                    input: true,
		                    numeric: false
		                },
		                detailTemplate: kendo.template($("#template").html()),
		                detailExpand: detailExpand,
		                columns: [
		                    { field: "name", title: "Name", width: "130px" },
		                    { field: "guestOSName", title: "OS", width: "130px" },
		                    { field: "ip", title: "IP", width: "130px" },
		                    { field: "powerState", title: "Message", width: "130px", template: "#= showColorText(data) #" }
		                ]
		            });
		        	
		        }
		        	
		        function detailExpand(e) {
		        	console.log(e.detailRow[0].rowIndex);
		        	var grid = $("#grid").data("kendoGrid");
		        	var rowId = e.detailRow[0].rowIndex
		        	var data = grid.dataItem("tr:eq("+rowId+")");
		        	var detailRow = e.detailRow;
		        	console.log(data.hostMemoryUsage);
		        	console.log(data.overallCPUUsage);
	                createGauge(data.hostMemoryUsage, data.name);
	                createOSGauge(data.overallCPUUsage, data.name);
	                detailRow.find(".tabstrip").kendoTabStrip({
	                    animation: {
	                        open: { effects: "fadeIn" }
	                    }
	                });
	        	}
		        	
			        function createTemplateGrid(templates) {
				    	console.log(templates);
			        	$("#templateGrid").kendoGrid({
			                dataSource: {
			                    data: templates,
			                    schema: {
			                        model: {
			                            fields: {
			                                os: { type: "string" }
			                            }
			                        }
			                    },
			                    pageSize: 20
			                },
			                height: 550,
			                scrollable: true,
			                sortable: true,
			                filterable: true,
			                pageable: {
			                    input: true,
			                    numeric: false
			                },
			                columns: [
		                                { field: "os", title: "OS", width: "130px", hidden:true },
		                                { command: { text: "Windows", click: createWindowsVM }, title: " ", width: "180px" },
		                                { command: { text: "Linux", click: createLinuxVM}, title: " ", width: "180px" }
			                ]
			            });
		        	}
			        function createWindowsVM() {
                            $.ajax({
                            url: "/api/v1/vms/create/windows",
                            success: function (response) {
                                // Get default value from the server response
                                vmObj=response;
                                console.log(vmObj);
                                createGrid(vmObj);
                            },
                            error: function () {
                                // Stop displaying loading indicator
                                kendo.ui.progress(editEvent.container, false);
                                console.error("uh oh!");
                            }
                        });
			        }
			        function createLinuxVM() {
                            $.ajax({
                            url: "/api/v1/vms/create/linux",
                            success: function (response) {
                                // Get default value from the server response
                                vmObj=response;
                                console.log(vmObj);
                                createGrid(vmObj);
                            },
                            error: function () {
                                // Stop displaying loading indicator
                                kendo.ui.progress(editEvent.container, false);
                                console.error("uh oh!");
                            }
                        });
			        }

			        
			        function createGauge(hostMemoryUsage, name) {
	                    $("#gauge"+name).kendoRadialGauge({

	                        pointer: {
	                            value: hostMemoryUsage
	                        },

	                        scale: {
//	                            minorUnit: 5,
//	                            startAngle: -30,
//	                            endAngle: 210,
	                            max: 1000,
	                            width:10,
	                            ranges: [
	                                {
	                                    from: 100,
	                                    to: 300,
	                                    color: "#ffc700"
	                                }, {
	                                    from: 300,
	                                    to: 600,
	                                    color: "#ff7a00"
	                                }, {
	                                    from: 600,
	                                    to: 1000,
	                                    color: "#c20000"
	                                }
	                            ]
	                        }
	                    });
	                }
			        function createOSGauge(overallCPUUsage, name) {
	                    $("#osgauge"+name).kendoRadialGauge({

	                        pointer: {
	                            value: overallCPUUsage
	                        },

	                        scale: {
//	                            minorUnit: 5,
//	                            startAngle: -30,
//	                            endAngle: 210,
	                            max: 1000,
	                            width:20,
	                            ranges: [
	                                {
	                                    from: 100,
	                                    to: 300,
	                                    color: "#ffc700"
	                                }, {
	                                    from: 300,
	                                    to: 600,
	                                    color: "#ff7a00"
	                                }, {
	                                    from: 600,
	                                    to: 1000,
	                                    color: "#c20000"
	                                }
	                            ]
	                        }
	                    });
	                }			        
			        function showColorText(data) {
					if(data.powerState=='poweredOn') return '<span style="color:green;">Running</span>';
					if(data.powerState=='poweredOff') return '<span style="color:red;">Stopped</span>';	
				}
		        </script>            
		    </div>
	   </div>
	</body>
</html>
