<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          th:href="@{/css/kendo.common.min.css}"
          href="../css/kendo.common.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/kendo.bootstrap.min.css}"
          href="../css/kendo.bootstrap.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/kendo.dataviz.min.css}"
          href="../css/kendo.dataviz.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/kendo.dataviz.default.min.css}"
          href="../css/kendo.dataviz.default.min.css"/>
    <link rel="stylesheet"
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:300,400,700}"
          href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"/>
    <link rel="stylesheet" media="screen"
          th:href="@{/assets/css/font-awesome.min.css}"
          href="../assets/css/font-awesome.min.css"/>
    <link rel="stylesheet"
          th:href="@{/assets/css/bootstrap.min.css}"
          href="../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen"
          th:href="@{/assets/css/bootstrap-theme.css}"
          href="../assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" media="screen"
          th:href="@{/assets/css/main.css}"
          href="../assets/css/main.css"/>
</head>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/kendo.all.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


<script th:inline="javascript" type="text/x-kendo-template" id="alarmTemplate">
    <div class="tabstrip">
        <ul>
            <li>
                Stats
            </li>
        </ul>
        <div>
            <div class="alarmInfo">
            <ul style="list-style:none;font-style:italic;margin: 15px;padding: 0;">
                <li style = "margin: 0;line-height: 1.7em;">
                    <div id="graphAlarmContainer#= alarmName #" style="width:90%;"></div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</script>

<body>
<div id="alarmCrt">
    <form id="myForm" action="#">
    <input id="alarmVmName" type="hidden"/>

    <label>VM: </label>
    <input id="alarmForVmNames" />
    <br />
    <br />
    <label>Send notification to </label>
    <input id="emailAlarm" />
    <br />
    <br />
    <label>Whenever: Average of </label>
    <input id="alarmParam" />
    <br />
    <br />
    <input id="alarmCond" />
    <input id="alarmVal" />
    <br />
    <br />
    <label>Name: </label>
    <input id="alarmName" />
    <br />
    <br />
    <label>Description: </label>
    <input id="alarmDesc" />
    <span>
        <button id="createAlarm" class="k-primary">Create</button>
    </span></form>
</div>

<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt="Pronet" width="150 px" height="50 px"></img></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a class="btn" href="/signout">Sign out</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a class="btn" href="/dashboard">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a class="btn" href="/alarms">Alarms</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div style="margin-top:7%;">
    <button id="createAlarmButton" class="k-primary">Create Alarm</button>
</div>

<div id="alarmDashboard" >
    <div id="alarmGrid"></div>

</div>
<script th:inline="javascript">
    var username = [[${username}]];
    var vms=[];
    $(document).ready(function() {
        $("#createAlarmButton").kendoButton();
        var auto_ref=setInterval(function() {$("#alarmGrid").data("kendoGrid").destroy();getAllAlarms();}, 60000);

        var data = [
            {text: "CPU Usage", value:"cpu_usage_none"},
            {text: "Memory Usage", value:"mem_usage_none"},
            {text: "Disk Usage", value:"disk_usage_none"},
            {text: "Network Usage", value:"net_usage_none"}
        ];
        var cond= [
            {text: "Greater than", value:"greaterThan"},
            {text: "Less than", value:"lessThan"}
        ];
        $("#emailAlarm").kendoMaskedTextBox({
            mask: ""
        });
        $("#alarmVal").kendoMaskedTextBox({
            mask: ""
        });
        $("#alarmName").kendoMaskedTextBox({
            mask: ""
        });
        $("#alarmDesc").kendoMaskedTextBox({
            mask: ""
        });
        $("#alarmParam").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            height: 100
        })
                .closest(".k-widget")
                .attr("id", "products_wrapper");
        $("#alarmParam").data("kendoDropDownList");

        $("#alarmCond").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: cond,
            height: 100
        });
        $("#alarmCond").data("kendoDropDownList");

        $("#createAlarm")
                        .bind("click", function() {
            $.ajax({
                type:"POST",
                url: "/api/v1/alarms/"+$("#alarmForVmNames").val()+'/'+$("#alarmName").val()+"/"+username,
                data: JSON.stringify({
                    "operator": $("#alarmCond").val(),
                    "metric": $("#alarmParam").val(),
                    "redValue":$("#alarmVal").val(),
                    "email":$("#emailAlarm").val(),
                    "description":$("#alarmDesc").val()
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    // Get default value from the server response
                    var stats=response;
                    alert('Alarm Created');
                    getVmDetails();
//                    createGraphHistory(stats, data.name);
                },
                error: function () {
                    // Stop displaying loading indicator
                    kendo.ui.progress(editEvent.container, false);
                    alert('AlarmCreation failed');
                    console.error("uh oh!");
                }
            });


                });
        var alarmWin= $("#alarmCrt");
        if (!alarmWin.data("kendoWindow")) {
            alarmWin.kendoWindow({
                pinned: true,
                position: { top: 100 },
                width: "800px",
//                height: "800px",
                title: "Create Alarm",
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                visible:false
            });
        }
        $("#createAlarmButton")
                .bind("click", function() {
                    alarmWin.data("kendoWindow").open();
                });



        $("#createAlarm").kendoButton();
        var vmNames="";
        getVmDetails();
        function getVmDetails() {
            $.ajax({
                url: "/api/v1/vms/"+username,
                success: function (response) {
                    // Get default value from the server response
                    for(var prop in response) {
                        vms.push({text:response[prop].name,value:response[prop].name});
                    }
                    $("#alarmForVmNames").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: vms,
                        height: 100
                    });
                    getAllAlarms();
                },
                error: function () {
                    // Stop displaying loading indicator
                    kendo.ui.progress(editEvent.container, false);
                    console.error("uh oh!");
                }
            });

        }
    });
    function getAllAlarms() {
        var currentdate = new Date();
        console.log(currentdate.getSeconds());
        $.ajax({
            url: "/api/v1/alarms/"+username,
            success: function (response) {
                // Get default value from the server response
                createAlarmGrid(response);
//                collapseRows();
            },
            error: function () {
                // Stop displaying loading indicator
                kendo.ui.progress(editEvent.container, false);
                console.error("uh oh!");
            }
        });
    }
    function createAlarmGrid(vm) {
        $("#alarmGrid").kendoGrid({
            dataSource: {
                data: vm,
                schema: {
                    model: {
                        fields: {
                            vm_name: { type: "string" },
                            alarmName: { type: "string" },
                            status: {type:"string"},
                            email: {type:"string"},
                            description: {type:"string"},
                            alarmOperator: {type:"string"},
                            alarmThresholdValue: {type:"string"}
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            scrollable: true,
            sortable: true,
            filterable: true,
//			                dataBinding: onDataBinding,
            pageable: {
                input: true,
                numeric: false
            },
            dataBound: function() {
                this.collapseRow(this.tbody.find("tr.k-master-row"));
            },
            detailTemplate: kendo.template($("#alarmTemplate").html()),
            detailExpand: detailShow,
            detailInit: function(e) {
                // without this line, detail template bindings will not work
                kendo.bind(e.detailRow, e.data);
            },
            columns: [
                { field: "vm_name", title: "VM Name", width: "90px" },
                { field: "alarmName", title: "Alarm Name", width: "130px" },
                { field: "status", title: "Status", width: "90px",template: "#= colorAlarmStatus(data) #" },
                { field: "email", title: "Email", width: "130px" },
                { field: "alarmOperator", title: "Operator", width: "130px" },
                { field: "alarmThresholdValue", title: "Threshold", width: "130px" },
                { field: "description", title: "Description", width: "130px" },
                { command: { text: "Delete Alarm", click: deleteAlarm}, title: " ", width: "180px"},
                { command: { text: "Ack Alarm", click: ackAlarm}, title: " ", width: "180px"}
            ]
        });
    }
    function colorAlarmStatus(data) {
        if(data.status=='Running') return '<span style="color:green;">Running</span>';
        if(data.status=='Off') return '<span style="color:red;">Stopped</span>';
        if(data.status=='Triggered') return '<span style="color:gray;">Triggered</span>';
    }
    function deleteAlarm(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            type: "DELETE",
            url: "/api/v1/alarms/"+dataItem.vm_name+"/"+dataItem.alarmName+"/"+username+"/off",
            success: function (response) {
                // Get default value from the server response
                alert('Alarm Deleted');
                getAllAlarms();
            },
            error: function () {
                // Stop displaying loading indicator
                kendo.ui.progress(editEvent.container, false);
                console.error("uh oh!");
                alert('Error deleting alarm');
            }
        });
    }
    function ackAlarm(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            type: "PUT",
            url: "/api/v1/alarms/"+dataItem.vm_name+"/"+dataItem.alarmName+"/"+username+"/ack",
            success: function (response) {
                // Get default value from the server response
                alert('Alarm Started');
                getAllAlarms();
            },
            error: function () {
                // Stop displaying loading indicator
                kendo.ui.progress(editEvent.container, false);
                console.error("uh oh!");
                alert('Error starting alarm again');
            }
        });
    }
    function detailShow(e) {
        var grid = $("#alarmGrid").data("kendoGrid");
        var rowId = e.detailRow[0].rowIndex
        var data = grid.dataItem("tr:eq("+rowId+")");
        var detailRow = e.detailRow;

        $.ajax({
            url: "/api/v1/stats/"+data.vm_name,
            success: function (response) {
                // Get default value from the server response
                createAlarmGraph(response, data.alarmName);
            },
            error: function () {
                // Stop displaying loading indicator
                kendo.ui.progress(editEvent.container, false);
                console.error("uh oh!");
            }
        });

        detailRow.find(".tabstrip").kendoTabStrip({
            animation: {
                open: { effects: "fadeIn" }
            }
        });
    }
    function createAlarmGraph(stats, alarmName) {
        var xaxis = ['0','5','10','15','20','25','30','35','40','45','50','55','60'];
        $('#graphAlarmContainer'+alarmName).highcharts({
            chart: {
                type: 'spline',
                inverted: false
            },
            title: {
                text: '',
                x: -20 //center
            },
            xAxis: {
                labels: {
                    formatter: function() {
                        return xaxis[this.value];
                    }
                },
                startOnTick: false,
                endOnTick: false
            },
            yAxis: {
                title: {
                    text: 'Units'
                },
                floor:100,
                ceiling:1000
            },
            tooltip: {
                valueSuffix: 'units'
            },
//			                legend: {
//			                    layout: 'vertical',
//			                    align: 'right',
//			                    verticalAlign: 'middle',
//			                    borderWidth: 0
//			                },
            series: [{
                name: 'Host Memory',
                data: stats.host_memory_usage.reverse()
            }
                , {
                    name: 'CPU Usage',
                    data: stats.cpu_usage.reverse()
                }, {
                    name: 'Guest Memory',
                    data: stats.guest_memory_usage.reverse()
                }
            ]
        });
    }

</script>
</body>
</html>